<div class="container mt-4" *ngIf="serie">
  <div class="row">
    <div class="col-4">
      <img [src]="serie.poster" [alt]="serie.name" class="img-fluid rounded shadow">
    </div>
    <div class="col-8">
      <h2>{{ serie.name }}</h2>
      <p><strong>Canal:</strong> {{ serie.channel }}</p>
      <p><strong>Temporadas:</strong> {{ serie.seasons }}</p>
      <p><strong>Descripción:</strong> {{ serie.description }}</p>
      <a [href]="serie.webpage" target="_blank" class="btn btn-primary">Ver página oficial</a>
      <br><br>
      <a routerLink="/series" class="btn btn-secondary">← Volver al listado</a>
    </div>
  </div>
</div>

<div class="container mt-4" *ngIf="!serie">
  <p>Serie no encontrada.</p>
  <a routerLink="/series" class="btn btn-secondary">← Volver al listado</a>
</div>